*.log
*.log_ERROR
venv
/results
*.xml
**/__pycache__
.idea
.pytest_cache
logs
log
ecu_simulator
idl
X86
JIDLCompiler
out
report
BootesRelease
.vscode
soa_name.txt
sdk_interface
*.so
*.bin
*.asc
*.cap
configcan.ini
configfr.ini
*.out
*.zip
*.pcap
*.txt
